@import '../../assets/var.less';
.indexBlog-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "img h3"
                         "img p";
    grid-column-gap: 6em;
    //grid-row-gap: 10px;
    font-size: 14px;
    color: #000;
    margin-top: 50px;
    .img-wrapper{
      grid-area: img;
      img{
        width: 60px;
        height: 60px;
      }
      span{
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: @textLighterColor;
        text-align: left;
        margin-top: 10px;
      }
    }
    h3{
      grid-area: h3;
      font-weight: normal;
      font-size: 16px;
      span{
        font-size: 12px;
        line-height: 18px;
        color: @textLighterColor;
        margin-left: 20px;
      }
    }
    p{
      grid-area: p;
      line-height: 16px;
    }
  }
  
  .pagination{
    display: grid;
    justify-items: center;
    margin: 20px 0;
  }
  .loading-more {
    width: 100%;
    padding: 20px 10px;
    vertical-align: middle;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 20px;
    box-sizing: border-box
  }
  .loading-more span {
    display: inline-block;
    margin-top: 50px;
    width: 36px;
    height: 36px;
    background: url(https://b.yzcdn.cn/v2/image/loader.gif) no-repeat 50%;
    background-size: 26px 26px
  }